body {
    background-color: #1A1A1D;
}

#page-wrapper {
    width: 70%;
    margin-left: 15%;
}

h1 {
    color: #A64D79;
    text-align: center;
}

h2 {
    color: #3B1C32;
}

a {
    color: greenyellow;
}

hr {
    border: 2px solid #6A1E55;
}

.turorials-section {
    padding: 10px;
}

.turorials-section > h2 {
    color:#A64D79;
    margin: 0 0 0 20px;
}

.tutorial-box {
    margin: 20px;
    background-color: #A64D79;
    padding: 10px;
    border: 5px dashed #6A1E55;
    text-align: left;
}

.tutorial-box p {
    color: #1A1A1D;
}

.tutorial-box h2{
    margin: 0 0 10px 0;
}

.tutorial-link {
    text-align: right;
}

.tutorial-link a {
    color: greenyellow;
    text-decoration: none;
    margin: 0 20px 0 0;
    width: 100%;
}